In [11]:
# import packages
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from utils import load_demo_df
from matrix_factorization.ui_matrix_factorization import SVDRecommender

In [12]:
name = 'MovieLens' # or 'Vea'
user_item_ratings = load_demo_df(name=name, n_samples=10000)

# initialize SVDRecommender object
recommender = SVDRecommender(user_item_ratings)

# get predicted ratings using MF
num_singular_values = 20
predicted_ratings = recommender.get_predicted_ratings_mf(num_singular_values)

In [15]:
# make recommendations (check user_id exist because of the sampler)
top_recommendations, user_item_matrix_for_user = recommender.recommend(user_id=13, num_recommendations=8)

Test

In [16]:
# join table to present complete details
movies_df = pd.read_csv('data/movieLens/movies.csv')
movies_df.head()
full_table_recommendation = top_recommendations.rename(columns={'item_id':'movieId'}).merge(movies_df, on='movieId', how='left')
full_table_recommendation

,movieId,ratings,title,genres
0,79132,0.002022,Inception (2010),Action|Crime|Drama|Mystery|Sci-Fi|Thriller|IMAX
1,1193,0.001460,One Flew Over the Cuckoo's Nest (1975),Drama
2,1196,0.001418,Star Wars: Episode V - The Empire Strikes Back...,Action|Adventure|Sci-Fi
3,480,0.001414,Jurassic Park (1993),Action|Adventure|Sci-Fi|Thriller
4,1270,0.001406,Back to the Future (1985),Adventure|Comedy|Sci-Fi
5,32,0.001366,Twelve Monkeys (a.k.a. 12 Monkeys) (1995),Mystery|Sci-Fi|Thriller
6,780,0.001350,Independence Day (a.k.a. ID4) (1996),Action|Adventure|Sci-Fi|Thriller
7,2858,0.001339,American Beauty (1999),Drama|Romance